{% extends "layout/layout.html" %}
{% block body %}
<div class="container">
    <div class="weather-side">
        <div class="weather-gradient"></div>
        <div class="date-container">
            <h2 class="date-dayname">Tuesday</h2><span class="date-day">02/05/2021</span></i><span class="location">York St John Campus</span>
        </div>
        <div class="weather-container"><i class="weather-icon" data-feather="sun"></i>
            <h1 class="weather-temp">29°C</h1>
            <h3 class="weather-desc">Sunny</h3>
        </div>
    </div>
    <div class="info-side">
        <div class="today-info-container">
            <div class="today-info">
                <div class="temperature"> <span class="title">TEMPERATURE</span><span class="value">22 C</span>
                    <div class="clear"></div>
                </div>
                <div class="precipitation"> <span class="title">PRESSURE</span><span class="value">100 kP</span>
                    <div class="clear"></div>
                </div>
                <div class="humidity"> <span class="title">HUMIDITY</span><span class="value">34 %</span>
                    <div class="clear"></div>
                </div>
                <div class="light"> <span class="title">LIGHT INTENSITY</span><span class="value">0.5 V</span>
                    <div class="clear"></div>
                </div>
                <div class="carbon-monoxide"> <span class="title">CARBON M</span><span class="value">3.5 PPM</span>
                    <div class="clear"></div>
                </div>
                <div class="wind-speed"> <span class="title">WIND SPEED</span><span class="value">0 km/h</span>
                    <div class="clear"></div>
                </div>
                <div class="wind-direction"> <span class="title">WIND DIRECTION</span><span class="value">NE</span>
                    <div class="clear"></div>
                </div>
                <div class="rain-rate"> <span class="title">RAIN</span><span class="value">2 LM^2/s</span>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="week-container">
            <ul class="week-list">
            </ul>
        </div>
        <div class="location-container"><button class="location-button"> <i data-feather="map-pin"></i><span>More Info</span></button></div>
        <div class="location-container"><button class="location-button"> <i data-feather="map-pin"></i><span>Change location</span></button></div>
    </div>
</div>
{% endblock %}
